.popular-authors-title{
  padding:30px 0px;
  font-size:30px;
  font-weight:600;
}
.popular-authors{
  display:flex;
  flex-direction:column;
  width:100%
}
.popular-authors-author{
  display:flex;
  justify-content:flex-start;
  margin-bottom:30px;
  
}
.author{
  height:200px;
  width:150px;
  background-color:teal;
  margin-right:30px;
  border-radius:10px;
}
.author-name{
  font-size:25px;
  font-weight:400;
  margin: 10px 0px; 
  width:80%


}
.author-text{
  font-size:20px;
  margin:10px 0px;
  color:rgba(0,0,0,0.2);

}
.author-info{
  display:flex;
  flex-direction:column;
  height:200px;
  width:60%;
}

.author-info p{
  line-height:130%;
}